<?xml version="1.0"?>

<launch>

    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="odom" />
    <arg name="move_forward_only" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_model_pkg)/worlds/test_flat.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

        <!-- move_base -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

        <rosparam file="$(find robot_model_pkg)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />

        <rosparam file="$(find robot_model_pkg)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find robot_model_pkg)/param/local_costmap_params.yaml" command="load" />

        <rosparam file="$(find robot_model_pkg)/param/global_costmap_params.yaml" command="load" />

        <rosparam file="$(find robot_model_pkg)/param/move_base_params.yaml" command="load" />

        <rosparam file="$(find robot_model_pkg)/param/dwa_local_planner_params.yaml" command="load" />

        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>

        <remap from="odom" to="$(arg odom_topic)"/>

        <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />

    </node>

    <param name="robot_description" textfile="$(find robot_model_pkg)/urdf/robot.xacro" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <!-- Load the robot description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find robot_model_pkg)/urdf/robot.xacro'"/>
    <!-- Robot state publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!-- Spawn the model -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model robot_model -param robot_description"/>

	<node pkg="gmapping" type="slam_gmapping" name="abot_slam_gmapping" output="screen">
		<rosparam command="load" file="$(find robot_model_pkg)/config/gmapping_params.yaml"/>
	</node>

</launch>